RewriteEngine On  # URL'leri yeniden yazma yeteneği sağlar.
RewriteCond %{REQUEST_FILENAME} !-F #isteğin dosya olarak mevcut olup olmadığını kontrol eder
RewriteCond %{REQUEST_FILENAME} !-d #isteğin dosya olarak mevcut olup olmadığını kontrol eder

RewriteRule ^([a-zA-Z0-9_-]+)/?$ profile.php?username=$1 [QSA] # URL'yi yeniden yazma kuralını belirtir.